.main {
	min-height: calc(100vh - 115px) !important;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell .nopad {
	padding: 0px !important;
}

.nomargin {
	margin: 0 !important;
}

.nomargin-top {
	margin-top: 0 !important;
}

.nomargin-bottom {
	margin-bottom: 0 !important;
}

.nopad {
	padding: 0px !important;
}

.nopad-left {
	padding-left: 0px !important;
}

.nopad-right {
	padding-right: 0px !important;
}

.nopad-top {
	padding-top: 0px !important;
}

.nopad-bottom {
	padding-bottom: 0px !important;
}

.nopad-largura, .nopad-horizontal {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.nopad-altura, .nopad-vertical {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.nopad>.ui-dialog-content.ui-widget-content {
	padding: 0px !important;
}

.nopad>.ui-panel-content.ui-widget-content {
	padding: 0px !important;
}

.evento-atrasado {
	background-color: #ED1C24 !important;
	border: 1px solid #831618 !important;
}

.evento-atendido {
	background-color: #e1e1e1 !important;
	border: 1px solid black !important;
}

.evento-feriado {
	background-color: #E3AE57 !important;
	border: 1px solid #232B2B !important;
	color: #232B2B !important;
}

.evento-feriado>.fc-title {
	color: black !important;
}

.evento-hoje {
	background-color: #51b749 !important;
	border: 1px solid black !important;
}

.btn-lg {
	padding: 0.5rem 0.5rem !important;
	font-size: 1.05rem !important;
	border-radius: .3rem;
}

.btn-g {
	font-size: 95% !important;
}

.foto-selecionada {
	width: 100%;
	height: 240px;
	background-image: url('http://placehold.it/320x240');
	background-position: center center;
	background-size: cover;
}

.img-circle {
	border-radius: 50%; /*don't forget prefixes*/
	background-position: center center;
}

.subpainel .ui-panelgrid .ui-panelgrid-cell {
	padding: 0px !important;
}

.pnl-filtro {
	margin-top: 30px;
	margin-bottom: 15px;
}

.pnl-resultado {
	margin-top: 30px;
	margin-bottom: 15px:
}

.pg-form {
	
}

.dlg-form {
	
}

.msgs {
	margin-top: 15px;
	margin-bottom: 15px;
}

.msgs-dialog {
	
}

.dt-lista thead {
	display: none !important;
}

.remove-head thead {
	display: none !important;
}

.azul {
	color: blue;
}

.vermelho {
	color: red;
}

.amarelo {
	color: yellow;
}

.ui-widget .ui-icon.fa, .ui-icon.fa {
	height: 20px;
	width: 20px;
}

.ui-button-icon-only .ui-icon.fa, .ui-button-text-icon-left .ui-icon.fa,
	.ui-button-text-icon-right .ui-icon.fa {
	margin-top: -10px !important;
}

.ui-outputlabel .ui-outputlabel-rfi {
	margin-left: 0.2em !important;
	color: red;
}

span.info {
	font-size: 76%;
}

.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.imagem-capturada {
	
}

.ui-dialog.al-dlg-confirm {
	padding: 0px !important;
	margin: 0px !important;
}

.al-dialog.ui-dialog .ui-dialog-titlebar, .ui-dialog.al-dlg-confirm  .ui-dialog-titlebar,
	.ui-dialog.ui-confirm-dialog .ui-dialog-titlebar {
	background-color: #464950 !important;
	margin: 0px !important;
	-moz-border-radius-bottomright: 3px !important;
	-webkit-border-bottom-right-radius: 3px !important;
	-khtml-border-bottom-right-radius: 3px !important;
	border-bottom-right-radius: 3px !important;
	-moz-border-radius-bottomleft: 3px !important;
	-webkit-border-bottom-left-radius: 3px !important;
	-khtml-border-bottom-left-radius: 3px !important;
	border-bottom-left-radius: 3px !important;
	border-bottom: 2px solid #d6d6d6 !important !important;
	margin-bottom: 10px !important;
}

.al-dialog.ui-dialog .ui-dialog-title, .ui-dialog.al-dlg-confirm .ui-dialog-title,
	.ui-dialog.ui-confirm-dialog .ui-dialog-title {
	margin: 0.3em 16px 0.1em 5px !important;
	font-size: 18px !important;
	color: white !important;
}

.al-dlg-confirm-mensagem>span::before {
	font-family: "FontAwesome" !important;
	content: "\f071" !important;
	margin-right: 8px !important;
	font-size: 2em !important;
}

.al-manual {
	background-color: #f7f7f7;
}

.al-manual ul li, .al-manual ol li {
	margin-bottom: 4px;
}

.al-titulo-manual {
	font-style: italic;
	display: flex;
	align-items: center;
	font-size: 26px;
}

/* .al-titulo-manual::before {
	font-family: "FontAwesome";
	content: "\f059";
	margin-right: 8px;
} */

.al-titulo-separator {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom: 2px solid #d6d6d6;
	margin-bottom: 10px !important;
}

.al-main-titulo {
	margin-bottom: 4px;
}

.al-main-titulo::before h1 {
	font-family: "FontAwesome";
	content: "\f1b3";
	margin-right: 8px;
	font-size: 105%;
}

.pnl-titulo {
	
}

.pnl-cadastro {
	margin-top: 40px !important;
}

.pnl-titulo ::before {
	font-family: "FontAwesome";
	content: "\f101";
	margin-right: 5px;
}

.pnl-titulo-sep {
	margin-top: 5px !important;
	margin-bottom: 15px !important;
}

.submenu .ui-panelmenu-header, .submenu .ui-menuitem-link-hasicon .ui-menuitem-text
	{
	font-weight: bold;
}

.menuitem {
	font-size: 90%;
}

@media ( min-width : 800px) {
	.dlg {
		width: 800px !important;
	}
}

.btn-limpar, .btn-pesquisar, .filtro, .result, .contextmenu {
	
}